.paper-toolbox-wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.paper-toolbox-wrap.active {
  display: block !important;
}

.paper-toolbox__btn {
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  transition: .3s transform;
  cursor: pointer;
  &.active {
    transform: rotate(45deg);
  }
}

.paper-toolbox__btn-line {
  background-color: #999;
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  &:nth-child(2) {
    width: 1px;
    height: 20px;
    top: 5px;
    left: 14px;
  }
}

.paper-toolbox {
  position: absolute;
  top: 50px;
  left: 0px;
  display: flex;
  z-index: 1;
  margin: 0;
  list-style-type: none;
  border-radius: 3px;
  padding: 0 10px;
  background-color: rgba(0,0,0,.8);
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 10px;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent rgba(0,0,0,.8) transparent;
  }
}

.paper-toolbox li {
  padding: 5px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &.active {
    color: blue;
  }
}
